body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header""main""footer";
    grid-template-columns: auto;
    background-color: rgba(83, 53, 19, 0.534);
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
  
}
 
header{
   grid-area: header;
   display: grid;
   grid-template-columns: auto auto auto ;
   grid-template-areas: "Date Cupra Time";
   background-color: black;
 
}
.DateTime{
 font-size: 200%;
 margin: auto;
 color: white;   
}
#CupraButton{
    grid-area: Cupra;
    height: 100%;
    position: relative;
    overflow: hidden;
}
 
main{
    grid-area: main;
    display:grid;
    background-color:rgb(54, 53, 53);
  
}

.TavascanHome{ 
    height:100%;
    width: 100%;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

main div.DashboardPic{
    display: grid;
    background-color:rgb(54, 53, 53);
    content: url("front.jpg");
    height:100%;
    width: 100%;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}



main div.DataInfo{
    display:grid;
    margin:0px;
    font-size: 3em;
    grid-template-areas: "a b" "c d" "e f" "g h" "i j";
    grid-template-columns:50% 50%;
    grid-template-rows: repeat(5,20%);
    background-color:  rgb(54, 53, 53);
    color:white;
}

#Geschwindigkeit{
    grid-area:a;
}

#SpeedData{
    grid-area: b;
}

#Verbrauch{
    grid-area:c;
}

#GasData{
    grid-area: d;
}

#Feuchtigkeit{
    grid-area: e;
}

#HumidityData{
    grid-area: f;
}

#Temperatur{
    grid-area: g;
}

#TemperatureData{
    grid-area: h;
}

#Druck{
    grid-area: i;
}

#PressureData{
    grid-area: j;
}

main div.MusicDiv{
    display:grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
    color: white;
}

.Player{
    display:grid;
    position: center;
    justify-content: center;
    align-items: center; 
    grid-area: 4 / 3 / span 1 / span 1;
}

.CurrentSongPlaying{
    display:grid;
    font-size: 150%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 3 / span 1 / span 1;
}

.Div2{
    text-align: center;
    border: 3px solid black;
    font-size: 150%;
    overflow-y: scroll;
    grid-template-rows: 100%;
    grid-area: 2 / 2 / span 2 / span 3;
}


main div.CarLockUnlockFunction{
display:grid;
grid-area: "Lock Unlock";
grid-template-columns: auto auto ;
grid-template-rows: 100%;
}

main div.SingleWindowFunction{
display:grid;
grid-area: "Up Down";
grid-template-columns: auto auto auto auto;
grid-template-rows: 100%;
}

main div.AllWindowFunction{
display: grid;
grid-area: "Up Down";
grid-template-columns: auto auto;
grid-template-rows: 100%;

}


footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "Data Music CarFunction";
   
}

#DataButton{
    grid-area:Data;
    height: 100%;
    position:relative;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    color: white;
}
#MusicButton{
    grid-area:Music;
    height: 100%;
    position:relative;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    color: white;
}
#CarFunctionButton{
    grid-area: CarFunction;
    height: 100%;
    position:relative;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    color: white;
}
