body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vw auto 10vw;
    grid-template-areas: "header""main""footer";
    grid-template-columns: auto;
    background-color: rgba(83, 53, 19, 0.534);
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
  
}
 
header{
   grid-area: header;
   display: grid;
   grid-template-columns: auto auto auto ;
   grid-template-areas: "Date Cupra Time";
   background-color: black;
 
}
.DateTime{
 font-size: 200%;
 margin: auto;
 color: white;   
}
#CupraButton{
    grid-area: Cupra;
    height: 100%;
    position: relative;
    overflow: hidden;
}
 
main{
    grid-area: main;
    display:grid;
  
}

.TavascanHome{  
    height:100%;
    width: 100%;
    position:relative;
    object-fit: cover;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

main div.DashboardPic{
height: 100%;
position: relative;
background-color:rgb(54, 53, 53);

}
main div.DashboardPic img{
   margin: 0px;
   content: url("front.jpg");
   width: auto;
   height: auto;
   position: absolute;
   object-fit: cover;
   overflow: hidden;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

main div.DataInfo{
    display:grid;
    margin:0px;
    font-size: 3em;
    grid-template-areas: "a b" "c d" "e f" "g h" "i j";
    grid-template-columns:50% 50%;
    grid-template-rows: repeat(5,20%);
    background-color:  rgb(54, 53, 53);
    color:white;
}

#Geschwindigkeit{
    grid-area:a;
}

#Verbrauch{
    grid-area:c;
}

#Feuchtigkeit{
    grid-area: e;
}

#Temperatur{
    grid-area: g;
}

#Druck{
    grid-area: i;
}

main div.CarLockUnlockFunction{
display:grid;
grid-area: "Lock Unlock";
grid-template-columns: auto auto ;
grid-template-rows: 100%;
}

main div.SingleWindowFunction{
display:grid;
grid-area: "Up Down";
grid-template-columns: auto auto auto auto;
grid-template-rows: 100%;
}

main div.AllWindowFunction{
display: grid;
grid-area: "Up Down";
grid-template-columns: auto auto;
grid-template-rows: 100%;

}


footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "Data Music CarFunction";
   
}

#DataButton{
    grid-area:Data;
    height: 100%;
    position:relative;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    color: white;
}
#MusicButton{
    grid-area:Music;
    height: 100%;
    position:relative;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    color: white;
}
#CarFunctionButton{
    grid-area: CarFunction;
    height: 100%;
    position:relative;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    color: white;
}
