body{
    height: 100vh;
    display: grid;
    grid-template-rows: 8vh auto 20vh;
    grid-template-areas: "header""main""footer";
    grid-template-columns: auto;
    background-color: rgba(68, 59, 59, 0.4);
    font-family: 'Helvetica Neue', sans-serif;
  
}
 
header{
   grid-area: header;
   display: grid;
   grid-template-columns: auto auto;
   grid-template-areas: "Datum Zeit"; 
 
}
 
main{
    grid-area: main;
    display: grid;
    grid-template-areas: "a b c" "d e f" "g h i";
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr 10fr 1fr;
    overflow: hidden;
}
 
footer{
    grid-area: footer;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-areas: "Data Navi Cupra Music Setting ";
}

.CupraFrontPic {
   grid-area: e; 
   background-image: url("https://www.seat-mediacenter.de/content/smc-countries/de/website/de/newspage/allnews/cupranewspage/news/news/cuprabrand/cupra-marke/2019/cupra-tavascan-concept/_jcr_content/centerColumn/multimediagallery_b9/singlePhoto-1/imageCrop1.resizeViewPort.crop.mobileAspectRatio..fileReference.jpg");
    width:100%;
	height:auto;

}
.DatumundUhrzeit {
    text-align: center;
    font-size: 200%; 
    margin: auto; 
    }
 
.icons{
    max-width: 60%;
  height: auto;
  display: flex;
 margin: auto;
 vertical-align: middle;
}
 
#Data{
    grid-area: Data;
    margin: auto;
    width: auto;
    height:auto;
    
}
#Navi{
    grid-area: Navi;
    margin: auto;
    width: auto;
    height:auto;
}
#Cupra{
    grid-area: Cupra;
    margin: auto;
    width: auto;
    height:auto;
}
#Music{
    grid-area: Music;
    margin: auto;
    width: auto;
    height:auto;
}
#Setting{
    grid-area: Setting;
    margin: auto;
    width: auto;
    height:auto;
}